openapi: 3.1.0
info:
  title: Warden Actor Box Control API
  version: 1.0.0
  description: >-
    Deny-by-default control-plane contract for evaluating Actor Box actions,
    issuing short-lived capabilities, revoking authority and applying emergency locks.
servers:
  - url: https://warden.internal.virtualsilkroad.com
security:
  - mutualTLS: []
    bearerAuth: []
tags:
  - name: Decisions
  - name: Capabilities
  - name: Revocation
  - name: Boxes
paths:
  /v1/policy-decisions/evaluate:
    post:
      tags: [Decisions]
      operationId: evaluateActorBoxPolicy
      summary: Evaluate a material Actor Box action
      description: Returns ALLOW, DENY, RESTRICT or ESCALATE. The default outcome is DENY.
      security:
        - mutualTLS: []
          bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDecisionRequest'
      responses:
        '200':
          description: Policy decision produced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDecision'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          $ref: '#/components/responses/StateConflict'
  /v1/capabilities/issue:
    post:
      tags: [Capabilities]
      operationId: issueActorBoxCapability
      summary: Materialize an allowed policy decision as a capability
      description: >-
        Issues a non-transferable capability only when the referenced policy decision
        is ALLOW or RESTRICT and remains effective.
      security:
        - mutualTLS: []
          bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapabilityIssueRequest'
      responses:
        '201':
          description: Capability issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityGrant'
        '403':
          description: Decision does not permit issuance
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          $ref: '#/components/responses/StateConflict'
  /v1/capabilities/{capabilityId}/revoke:
    post:
      tags: [Revocation]
      operationId: revokeActorBoxCapability
      summary: Revoke one capability immediately
      security:
        - mutualTLS: []
          bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CapabilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevocationRequest'
      responses:
        '200':
          description: Capability revoked and evidenced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Revocation'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/boxes/{boxId}/lock:
    post:
      tags: [Boxes, Revocation]
      operationId: lockActorBox
      summary: Suspend all non-recovery execution in a Box
      description: Emergency lock preserves evidence and does not delete Box data.
      security:
        - mutualTLS: []
          bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BoxId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoxLockRequest'
      responses:
        '200':
          description: Box locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxControlState'
        '409':
          $ref: '#/components/responses/StateConflict'
  /v1/boxes/{boxId}/control-state:
    get:
      tags: [Boxes]
      operationId: getActorBoxControlState
      summary: Read current authoritative control state
      security:
        - mutualTLS: []
          bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BoxId'
      responses:
        '200':
          description: Current control state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxControlState'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    mutualTLS:
      type: mutualTLS
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    BoxId:
      name: boxId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Identifier'
    CapabilityId:
      name: capabilityId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Identifier'
  responses:
    InvalidRequest:
      description: Request is structurally or semantically invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthenticated:
      description: Runtime or caller authentication failed
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    StateConflict:
      description: Registry, lifecycle or revocation state conflicts with the request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Requested control object does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Identifier:
      type: string
      minLength: 3
      maxLength: 200
      pattern: '^[A-Za-z0-9][A-Za-z0-9._:/-]*$'
    PolicyDecisionRequest:
      type: object
      additionalProperties: false
      required:
        - request_id
        - requested_at
        - box_id
        - runtime_id
        - subject_id
        - context_id
        - resource_id
        - requested_action
        - purpose
        - data_classes
        - requested_duration_seconds
        - human_approval_present
      properties:
        request_id: { $ref: '#/components/schemas/Identifier' }
        requested_at: { type: string, format: date-time }
        box_id: { $ref: '#/components/schemas/Identifier' }
        runtime_id: { $ref: '#/components/schemas/Identifier' }
        subject_id: { $ref: '#/components/schemas/Identifier' }
        agent_id: { $ref: '#/components/schemas/Identifier' }
        context_id: { $ref: '#/components/schemas/Identifier' }
        resource_id: { $ref: '#/components/schemas/Identifier' }
        requested_action: { type: string, minLength: 1 }
        purpose: { type: string, minLength: 1 }
        data_classes:
          type: array
          items: { type: string }
        source_zone: { type: string }
        destination_zone: { type: string }
        requested_duration_seconds:
          type: integer
          minimum: 1
          maximum: 3600
        human_approval_present: { type: boolean }
    PolicyDecision:
      type: object
      additionalProperties: false
      required:
        - policy_decision_id
        - request_id
        - decided_at
        - outcome
        - reason_codes
        - policy_bundle_version
        - evidence_event_id
      properties:
        policy_decision_id: { $ref: '#/components/schemas/Identifier' }
        request_id: { $ref: '#/components/schemas/Identifier' }
        decided_at: { type: string, format: date-time }
        outcome:
          type: string
          enum: [ALLOW, DENY, RESTRICT, ESCALATE]
        reason_codes:
          type: array
          minItems: 1
          items: { type: string }
        policy_bundle_version: { type: string, minLength: 1 }
        capability:
          $ref: '#/components/schemas/CapabilityGrant'
        required_approval: { type: string }
        evidence_event_id: { $ref: '#/components/schemas/Identifier' }
    CapabilityIssueRequest:
      type: object
      additionalProperties: false
      required: [policy_decision_id, requested_by]
      properties:
        policy_decision_id: { $ref: '#/components/schemas/Identifier' }
        requested_by: { $ref: '#/components/schemas/Identifier' }
    CapabilityGrant:
      type: object
      additionalProperties: false
      required:
        - capability_id
        - box_id
        - subject_id
        - resource_id
        - allowed_action
        - purpose
        - context_id
        - issued_at
        - expires_at
        - policy_decision_id
        - capability_status
        - constraints
      properties:
        capability_id: { $ref: '#/components/schemas/Identifier' }
        box_id: { $ref: '#/components/schemas/Identifier' }
        subject_id: { $ref: '#/components/schemas/Identifier' }
        resource_id: { $ref: '#/components/schemas/Identifier' }
        allowed_action: { type: string, minLength: 1 }
        purpose: { type: string, minLength: 1 }
        context_id: { $ref: '#/components/schemas/Identifier' }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        policy_decision_id: { $ref: '#/components/schemas/Identifier' }
        capability_status:
          type: string
          enum: [ISSUED, CONSUMED, EXPIRED, REVOKED, SUSPENDED]
        constraints:
          type: object
          additionalProperties: true
    RevocationRequest:
      type: object
      additionalProperties: false
      required: [reason, revoked_by, policy_reference]
      properties:
        reason: { type: string, minLength: 1 }
        revoked_by: { $ref: '#/components/schemas/Identifier' }
        policy_reference: { $ref: '#/components/schemas/Identifier' }
    Revocation:
      type: object
      additionalProperties: false
      required:
        - revocation_id
        - box_id
        - target_type
        - target_id
        - reason
        - revoked_by
        - effective_at
        - policy_reference
        - evidence_event_id
      properties:
        revocation_id: { $ref: '#/components/schemas/Identifier' }
        box_id: { $ref: '#/components/schemas/Identifier' }
        target_type:
          type: string
          enum: [BOX, RUNTIME, CONTEXT, CONSENT, DELEGATION, CAPABILITY, AGENT, WORKSPACE]
        target_id: { $ref: '#/components/schemas/Identifier' }
        reason: { type: string, minLength: 1 }
        revoked_by: { $ref: '#/components/schemas/Identifier' }
        effective_at: { type: string, format: date-time }
        policy_reference: { $ref: '#/components/schemas/Identifier' }
        evidence_event_id: { $ref: '#/components/schemas/Identifier' }
    BoxLockRequest:
      type: object
      additionalProperties: false
      required: [reason, initiated_by, policy_reference]
      properties:
        reason: { type: string, minLength: 1 }
        initiated_by: { $ref: '#/components/schemas/Identifier' }
        policy_reference: { $ref: '#/components/schemas/Identifier' }
    BoxControlState:
      type: object
      additionalProperties: false
      required:
        - box_id
        - status
        - runtime_integrity
        - active_context_id
        - active_capability_count
        - active_agent_count
        - locked
        - updated_at
        - evidence_event_id
      properties:
        box_id: { $ref: '#/components/schemas/Identifier' }
        status:
          type: string
          enum:
            - RESERVED
            - PROVISIONED
            - CLAIM_PENDING
            - CLAIMED
            - ACTIVE
            - RESTRICTED
            - SUSPENDED
            - RECOVERY
            - TRANSFER_PENDING
            - COMPROMISED
            - REVOKED
            - RETIREMENT_PENDING
            - RETIRED
        runtime_integrity:
          type: string
          enum: [ATTESTED, DEGRADED, FAILED, UNKNOWN]
        active_context_id: { $ref: '#/components/schemas/Identifier' }
        active_capability_count: { type: integer, minimum: 0 }
        active_agent_count: { type: integer, minimum: 0 }
        locked: { type: boolean }
        updated_at: { type: string, format: date-time }
        evidence_event_id: { $ref: '#/components/schemas/Identifier' }
    Problem:
      type: object
      additionalProperties: true
      required: [type, title, status]
      properties:
        type: { type: string, format: uri-reference }
        title: { type: string }
        status: { type: integer, minimum: 100, maximum: 599 }
        detail: { type: string }
        instance: { type: string, format: uri-reference }
        reason_codes:
          type: array
          items: { type: string }
